<div class="conver-wrap">
  <div class="client-wrap">
    <div class="search-client">
      <input type="text" class="form-control" placeholder="Search clients...">
      <button class="search-btn" type="button"><i class="zmdi zmdi-search zmdi-hc-fw"></i></button>
    </div>
    <div class="client-inner">
      <div class="result-list">
        <div class="client-sec panding">
          <div class="client-disp">
						<div class="client-img"><%=image_tag "avtar2.png" %></div>
						<div class="client-desc">
							<h2 class="client-name">Sharon Herrera</h2>
							<p class="desig">Coach</p>
						</div>
					</div>
          <p class="client-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
          <div class="c-time"><span>14:30</span> <span class="panding"></span></div>
        </div>
        <div class="client-sec active">
          <div class="client-disp">
						<div class="client-img"><%=image_tag "avtar2.png" %></div>
						<div class="client-desc">
							<h2 class="client-name">Sharon Herrera</h2>
							<p class="desig">Coach</p>
						</div>
					</div>
          <p class="client-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
          <div class="c-time"><span>14:30</span> <span class="panding"></span></div>
        </div>
        <div class="client-sec">
          <div class="client-disp">
						<div class="client-img"><%=image_tag "avtar2.png" %></div>
						<div class="client-desc">
							<h2 class="client-name">Sharon Herrera</h2>
							<p class="desig">Coach</p>
						</div>
					</div>
          <p class="client-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
          <div class="c-time"><span>14:30</span> <span class="panding"></span></div>
        </div>
        <div class="client-sec">
          <div class="client-disp">
						<div class="client-img"><%=image_tag "avtar2.png" %></div>
						<div class="client-desc">
							<h2 class="client-name">Sharon Herrera</h2>
							<p class="desig">Coach</p>
						</div>
					</div>
          <p class="client-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
          <div class="c-time"><span>14:30</span> <span class="panding"></span></div>
        </div>
        <div class="client-sec">
          <div class="client-disp">
						<div class="client-img"><%=image_tag "avtar2.png" %></div>
						<div class="client-desc">
							<h2 class="client-name">Sharon Herrera</h2>
							<p class="desig">Coach</p>
						</div>
					</div>
          <p class="client-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
          <div class="c-time"><span>14:30</span> <span class="panding"></span></div>
        </div>
        <div class="client-sec">
          <div class="client-disp">
						<div class="client-img"><%=image_tag "avtar2.png" %></div>
						<div class="client-desc">
							<h2 class="client-name">Sharon Herrera</h2>
							<p class="desig">Coach</p>
						</div>
					</div>
          <p class="client-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
          <div class="c-time"><span>14:30</span> <span class="panding"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="conver-sec">
    <div class="client-panel">
      <div class="visible-xs back-arrow"><a href="#"><i class="zmdi zmdi-arrow-left zmdi-hc-fw"></i> Back</a></div>
      <div class="c-pro"><a href="#"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Client Profile</a></div>
    </div>
    <div class="conver-board">
      <div class="post-wrap">
        <div class="user-img"><%=image_tag "avtar2.png" %></div>
        <div class="post-sec">
          <div class="post-cont">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standardLorem.</p>
          </div>
          <div class="post-time">01:24 PM</div>
        </div>
      </div>
      <div class="post-wrap">
        <div class="user-img"><%=image_tag "avtar2.png" %></div>
        <div class="post-sec">
          <div class="post-cont">
            <video width="100%" controls
              poster="https://archive.org/download/WebmVp8Vorbis/webmvp8.gif" >
              <source
                src="https://archive.org/download/WebmVp8Vorbis/webmvp8.webm"
                type="video/webm">
              <source
                src="https://archive.org/download/WebmVp8Vorbis/webmvp8_512kb.mp4"
                type="video/mp4">
              <source
                src="https://archive.org/download/WebmVp8Vorbis/webmvp8.ogv"
                type="video/ogg">
              Your browser doesn't support HTML5 video tag.
            </video>
          </div>
          <div class="post-time">01:24 PM</div>
        </div>
      </div>
      <div class="post-wrap">
        <div class="user-img"><%=image_tag "avtar2.png" %></div>
        <div class="post-sec">
          <div class="post-cont">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standardLorem.</p>
          </div>
          <div class="post-time">01:24 PM</div>
        </div>
      </div>
      <div class="post-wrap">
        <div class="user-img"><%=image_tag "avtar2.png" %></div>
        <div class="post-sec">
          <div class="post-cont">
            <p>I have shared with you quiz 1.</p>
            <a href="#" class="g-btn">Open Quiz</a>
          </div>
          <div class="post-time">01:24 PM</div>
        </div>
      </div>
      <div class="post-wrap">
        <div class="user-img"><%=image_tag "avtar2.png" %></div>
        <div class="post-sec">
          <div class="post-cont">
            <p>I have shared with you lesson 3.</p>
            <a href="#" class="g-btn">Open Lesson</a>
          </div>
          <div class="post-time">01:24 PM</div>
        </div>
      </div>
    </div>
    <div class="input-wrap">
      <div class="input-block"><textarea class="msg-text" placeholder="What's on your mind"></textarea></div>
      <div class="msg-act">
        <ul>
          <li><a href="#" data-toggle="modal" data-target="#attachG"><i class="zmdi zmdi-collection-text zmdi-hc-fw"></i>Library</a></li>
          <li>
            <div class="attach-block">
              <i class="zmdi zmdi-attachment-alt zmdi-hc-fw"></i> Attach
              <input type="file" />
            </div>
          <li><button type="button" class="send-btn"><i class="zmdi zmdi-mail-send zmdi-hc-fw"></i></button></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="modal fade center" id="attachG" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="zmdi zmdi-close zmdi-hc-fw"></i></button>
        <h4 class="modal-title" id="myModalLabel">Attach From Library</h4>
      </div>
      <ul class="nav nav-tabs g-tab" role="tablist">
        <li role="presentation" class="active"><a href="#videoT" aria-controls="video" role="tab" data-toggle="tab">Videos</a></li>
        <li role="presentation"><a href="#lessonT" aria-controls="lesson" role="tab" data-toggle="tab">Lessons</a></li>
        <li role="presentation"><a href="#quizT" aria-controls="quiz" role="tab" data-toggle="tab">Quiz</a></li>
      </ul>
      <div class="modal-body">
        <div class="g-tab">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="videoT">Video</div>
            <div role="tabpanel" class="tab-pane" id="lessonT">Lesson</div>
            <div role="tabpanel" class="tab-pane" id="quizT">Quiz</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
