<div class="library-wrap">
  <div class="container-fluid">
    <div class="lib-sec">
      <h3 class="lib-title">Videos</h3>
      <div class="lib-row">
        <div class="lib-col">
          <div class="lib-block">
            <div class="lib-disp">
              <div class="lib-img"><%=image_tag "video-img.png", :class=>"fix-img" %></div>
              <div class="lib-overlay">
                <div class="dropdown share-drop">
                  <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="zmdi zmdi-share zmdi-hc-fw"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Beulah Schwartz</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Eliza Lawson</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Hettie Lewis</a></li>
                  </ul>
                </div>
                <div class="vid-icn"><a href="#"><i class="zmdi zmdi-play-circle zmdi-hc-fw"></i></a></div>
                <div class="libe-name"><h3>Coach video 1</h3></div>
              </div>
            </div>
            <div class="lib-share">
              <label>Shared with:</label>
              <ul class="share-list">
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="lib-col">
          <div class="lib-block">
            <div class="lib-disp">
              <div class="lib-img"><%=image_tag "video-img.png", :class=>"fix-img" %></div>
              <div class="lib-overlay">
                <div class="dropdown share-drop">
                  <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="zmdi zmdi-share zmdi-hc-fw"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Beulah Schwartz</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Eliza Lawson</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Hettie Lewis</a></li>
                  </ul>
                </div>
                <div class="vid-icn"><a href="#"><i class="zmdi zmdi-play-circle zmdi-hc-fw"></i></a></div>
                <div class="libe-name"><h3>Coach video 1</h3></div>
              </div>
            </div>
            <div class="lib-share">
              <label>Shared with:</label>
              <ul class="share-list">
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="lib-col">
          <div class="lib-block">
            <div class="lib-disp">
              <div class="lib-img"><%=image_tag "video-img.png", :class=>"fix-img" %></div>
              <div class="lib-overlay">
                <div class="dropdown share-drop">
                  <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="zmdi zmdi-share zmdi-hc-fw"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Beulah Schwartz</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Eliza Lawson</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Hettie Lewis</a></li>
                  </ul>
                </div>
                <div class="vid-icn"><a href="#"><i class="zmdi zmdi-play-circle zmdi-hc-fw"></i></a></div>
                <div class="libe-name"><h3>Coach video 1</h3></div>
              </div>
            </div>
            <div class="lib-share">
              <label>Shared with:</label>
              <ul class="share-list">
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="lib-col">
          <div class="lib-block">
            <div class="lib-disp">
              <div class="lib-img"><%=image_tag "video-img.png", :class=>"fix-img" %></div>
              <div class="lib-overlay">
                <div class="dropdown share-drop">
                  <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="zmdi zmdi-share zmdi-hc-fw"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Beulah Schwartz</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Eliza Lawson</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Hettie Lewis</a></li>
                  </ul>
                </div>
                <div class="vid-icn"><a href="#"><i class="zmdi zmdi-play-circle zmdi-hc-fw"></i></a></div>
                <div class="libe-name"><h3>Coach video 1</h3></div>
              </div>
            </div>
            <div class="lib-share">
              <label>Shared with:</label>
              <ul class="share-list">
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="lib-col">
          <div class="lib-block">
            <div class="lib-disp">
              <div class="lib-add">
                <a href="#" data-toggle="modal" data-target="#uploadVid"><span class="icn"><i class="zmdi zmdi-plus-circle-o zmdi-hc-fw"></i><span>Add Video</span></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lib-sec">
      <h3 class="lib-title">Lesson</h3>
      <div class="lib-row">
        <div class="lib-col">
          <div class="lib-block">
            <div class="lib-disp">
              <div class="lib-img"><%=image_tag "video-img.png", :class=>"fix-img" %></div>
              <div class="lib-overlay">
                <div class="dropdown share-drop">
                  <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="zmdi zmdi-share zmdi-hc-fw"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Beulah Schwartz</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Eliza Lawson</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Hettie Lewis</a></li>
                  </ul>
                </div>
                <div class="libe-name"><h3>Coach lesson 1</h3></div>
              </div>
            </div>
            <div class="lib-share">
              <label>Shared with:</label>
              <ul class="share-list">
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="lib-col">
          <div class="lib-block">
            <div class="lib-disp">
              <div class="lib-img"><%=image_tag "video-img.png", :class=>"fix-img" %></div>
              <div class="lib-overlay">
                <div class="dropdown share-drop">
                  <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="zmdi zmdi-share zmdi-hc-fw"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Beulah Schwartz</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Eliza Lawson</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Hettie Lewis</a></li>
                  </ul>
                </div>
                <div class="libe-name"><h3>Coach lesson 2</h3></div>
              </div>
            </div>
            <div class="lib-share">
              <label>Shared with:</label>
              <ul class="share-list">
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="lib-col">
          <div class="lib-block">
            <div class="lib-disp">
              <div class="lib-add">
                <a href="#" data-toggle="modal" data-target="#uploadLesson"><span class="icn"><i class="zmdi zmdi-plus-circle-o zmdi-hc-fw"></i><span>Add Lesson</span></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lib-sec">
      <h3 class="lib-title">Quiz</h3>
      <div class="lib-row">
        <div class="lib-col">
          <div class="lib-block">
            <div class="lib-disp">
              <div class="lib-text">
                <div class="dropdown share-drop">
                  <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="zmdi zmdi-share zmdi-hc-fw"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Beulah Schwartz</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Eliza Lawson</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Hettie Lewis</a></li>
                  </ul>
                </div>
                <div class="inner-text">
                  <h3>Coach Quiz 1</h3>
                  <p>Some Question that Couch writ for this QUIZ ?</p>
                </div>
              </div>
            </div>
            <div class="lib-share">
              <label>Shared with:</label>
              <ul class="share-list">
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="lib-col">
          <div class="lib-block">
            <div class="lib-disp">
              <div class="lib-text">
                <div class="dropdown share-drop">
                  <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="zmdi zmdi-share zmdi-hc-fw"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Beulah Schwartz</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Eliza Lawson</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Hettie Lewis</a></li>
                  </ul>
                </div>
                <div class="inner-text">
                  <h3>Coach Quiz 2</h3>
                  <p>Some Question that Couch writ for this QUIZ ?</p>
                </div>
              </div>
            </div>
            <div class="lib-share">
              <label>Shared with:</label>
              <ul class="share-list">
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="lib-col">
          <div class="lib-block">
            <div class="lib-disp">
              <div class="lib-text">
                <div class="dropdown share-drop">
                  <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="zmdi zmdi-share zmdi-hc-fw"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Beulah Schwartz</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Eliza Lawson</a></li>
                    <li><a href="#"><span class="share-avtar"><%=image_tag "avtar2.png" %></span>Hettie Lewis</a></li>
                  </ul>
                </div>
                <div class="inner-text">
                  <h3>Coach Quiz 3</h3>
                  <p>Some Question that Couch writ for this QUIZ ?</p>
                </div>
              </div>
            </div>
            <div class="lib-share">
              <label>Shared with:</label>
              <ul class="share-list">
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
                <li><div class="share-pic"><%=image_tag "avtar2.png" %></div></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="lib-col">
          <div class="lib-block">
            <div class="lib-disp">
              <div class="lib-add">
                <a href="#" data-toggle="modal" data-target="#uploadQuiz"><span class="icn"><i class="zmdi zmdi-plus-circle-o zmdi-hc-fw"></i><span>Add Quiz</span></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade center" id="uploadVid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="zmdi zmdi-close zmdi-hc-fw"></i></button>
        <h4 class="modal-title" id="myModalLabel">Upload Video</h4>
      </div>
      <div class="modal-body">
        <form class="goal-frm">
          <div class="upload-input">
          	<div class="icn-box">
              <svg viewBox="260 107 114 95" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="video-player" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(260.000000, 107.000000)">
                      <g id="Capa_1" fill="#32CAB6">
                          <g id="Group">
                              <path d="M56.0653966,33.7156522 L39.1860862,23.0634783 C38.7134655,22.7667391 38.1150172,22.7469565 37.6224483,23.0132609 C37.1329483,23.281087 36.8275862,23.7923913 36.8275862,24.3478261 L36.8275862,45.6521739 C36.8275862,46.2076087 37.1329483,46.718913 37.6239828,46.9867391 C37.8541552,47.1115217 38.1073448,47.173913 38.362069,47.173913 C38.6490172,47.173913 38.9359655,47.0932609 39.1860862,46.9365217 L56.0653966,36.2843478 C56.5073276,36.0043478 56.7758621,35.5204348 56.7758621,35 C56.7758621,34.4795652 56.5073276,33.9956522 56.0653966,33.7156522 Z M39.8965517,42.881087 L39.8965517,27.118913 L52.3826379,35 L39.8965517,42.881087 Z" id="Shape"></path>
                              <path d="M87.4655172,0 L72.1206897,0 L16.8793103,0 L1.53448276,0 C0.687448276,0 0,0.680217391 0,1.52173913 L0,18.2608696 L0,35 L0,51.7391304 L0,68.4782609 C0,69.3197826 0.687448276,70 1.53448276,70 L16.8793103,70 L72.1206897,70 L87.4655172,70 C88.3125517,70 89,69.3197826 89,68.4782609 L89,51.7391304 L89,35 L89,18.2608696 L89,1.52173913 C89,0.680217391 88.3125517,0 87.4655172,0 Z M15.3448276,33.4782609 L3.06896552,33.4782609 L3.06896552,19.7826087 L15.3448276,19.7826087 L15.3448276,33.4782609 Z M3.06896552,36.5217391 L15.3448276,36.5217391 L15.3448276,50.2173913 L3.06896552,50.2173913 L3.06896552,36.5217391 Z M18.4137931,51.7391304 L18.4137931,35 L18.4137931,18.2608696 L18.4137931,3.04347826 L70.5862069,3.04347826 L70.5862069,18.2608696 L70.5862069,35 L70.5862069,51.7391304 L70.5862069,66.9565217 L18.4137931,66.9565217 L18.4137931,51.7391304 Z M85.9310345,33.4782609 L73.6551724,33.4782609 L73.6551724,19.7826087 L85.9310345,19.7826087 L85.9310345,33.4782609 Z M73.6551724,36.5217391 L85.9310345,36.5217391 L85.9310345,50.2173913 L73.6551724,50.2173913 L73.6551724,36.5217391 Z M85.9310345,3.04347826 L85.9310345,16.7391304 L73.6551724,16.7391304 L73.6551724,3.04347826 L85.9310345,3.04347826 Z M3.06896552,3.04347826 L15.3448276,3.04347826 L15.3448276,16.7391304 L3.06896552,16.7391304 L3.06896552,3.04347826 Z M3.06896552,66.9565217 L3.06896552,53.2608696 L15.3448276,53.2608696 L15.3448276,66.9565217 L3.06896552,66.9565217 Z M85.9310345,66.9565217 L73.6551724,66.9565217 L73.6551724,53.2608696 L85.9310345,53.2608696 L85.9310345,66.9565217 Z" id="Shape"></path>
                          </g>
                      </g>
                  </g>
                  <circle id="Oval-3" stroke="#F5F6F7" stroke-width="1" fill="#FFFFFF" fill-rule="evenodd" cx="349.5" cy="177.5" r="23.5"></circle>
                  <text id="folder-upload---Material-Design-Icons" stroke="none" fill="none" font-family="Material-Design-Icons, Material Design Icons" font-size="24" font-weight="normal">
                      <tspan x="338" y="187" fill="#22868F"></tspan>
                  </text>
              </svg>
            </div>
            <label>Drag and drop video or <span>Upload</span> from computer</label>
            <input type="file" >
          </div>
          <div class="form-group">
            <label for="vidTitle" class="control-label">Title</label>
            <input type="text" class="form-control" id="vidTitle">
          </div>
          <div class="form-group">
            <label for="vidDesc" class="control-label">Description</label>
            <textarea class="form-control" id="vidDesc"></textarea>
          </div>
          <button type="submit" class="g-btn block-btn">Publish</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade center" id="uploadLesson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="zmdi zmdi-close zmdi-hc-fw"></i></button>
        <h4 class="modal-title" id="myModalLabel">New Lesson</h4>
      </div>
      <div class="modal-body">
        <form class="goal-frm">
          <div class="upload-input">
          	<div class="icn-box">
              <svg viewBox="243 118 124 94" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Group-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(243.000000, 118.000000)">
                      <g id="download-(1)" fill="#32CAB6">
                          <g id="Group" transform="translate(0.000000, 0.710951)">
                              <path d="M2.23801276,0.903695402 C1.13072621,0.903695402 0.233093109,1.79012943 0.233093109,2.90760382 L0.233093109,69.0085675 C0.233093109,70.1152955 1.12023317,71.0124759 2.23849235,71.0124759 L106.544932,71.0124759 L107.766907,71.0124759 L107.766907,69.8816897 L107.766907,2.91216203 C107.766907,1.80291654 106.86957,0.903695402 105.761987,0.903695402 L2.23801276,0.903695402 Z M3.40909091,3.63300982 L104.590909,3.63300982 L104.590909,58.7040203 L81.4034091,35.1917755 C81.1272938,34.9113402 80.7160093,34.7801013 80.3117898,34.8434452 C80.0506368,34.8873128 79.8124503,35.0097639 79.634233,35.1917755 L61.490767,53.0262909 L35.6306818,26.2745067 C35.3545665,25.9940714 34.943282,25.8628325 34.5390625,25.9261763 C34.2779095,25.970044 34.039723,26.0924951 33.8615057,26.2745067 L3.40909091,56.544372 L3.40909091,3.63300982 Z M62.4318182,12.5502898 C57.7893193,12.5502898 54,16.0567785 54,20.3528903 C54,24.6488906 57.7893193,28.1554907 62.4318182,28.1554907 C67.074317,28.1554907 70.8636364,24.6488906 70.8636364,20.3528903 C70.8636364,16.0567785 67.074317,12.5502898 62.4318182,12.5502898 Z M61.8295455,14.7796042 C62.032692,14.760655 62.2230343,14.7796042 62.4318182,14.7796042 C65.772348,14.7796042 68.4545455,17.2616114 68.4545455,20.3528903 C68.4545455,23.4441691 65.772348,25.9261763 62.4318182,25.9261763 C59.0912884,25.9261763 56.4090909,23.4441691 56.4090909,20.3528903 C56.4090909,17.4547815 58.7823586,15.0636189 61.8295455,14.7796042 Z M34.6896307,28.6779306 L73.009233,68.2831615 L3.40909091,68.2831615 L3.40909091,59.7490115 L34.6896307,28.6779306 L34.6896307,28.6779306 Z M80.5,37.5951994 L104.590909,62.0132147 L104.590909,68.2831615 L76.2464489,68.2831615 L63.109375,54.6982767 L80.5,37.5951994 Z" id="Shape"></path>
                          </g>
                      </g>
                      <circle id="Oval-3" stroke="#F5F6F7" fill="#FFFFFF" cx="99.5" cy="69.5" r="23.5"></circle>
                      <text id="folder-upload---Material-Design-Icons" font-family="Material-Design-Icons, Material Design Icons" font-size="24" font-weight="normal" fill="#22868F">
                          <tspan x="88" y="79"></tspan>
                      </text>
                  </g>
              </svg>
            </div>
            <label>Drag and drop image or <span>Upload</span> from computer</label>
            <input type="file" >
          </div>
          <div class="form-group">
            <label for="lesTitle" class="control-label">Title</label>
            <input type="text" class="form-control" id="lesTitle">
          </div>
          <div class="form-group">
            <label for="lesDesc" class="control-label">Description</label>
            <textarea class="form-control" id="lesDesc"></textarea>
          </div>
          <button type="submit" class="g-btn block-btn">Publish</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade center" id="uploadQuiz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="zmdi zmdi-close zmdi-hc-fw"></i></button>
        <h4 class="modal-title" id="myModalLabel">New Quiz</h4>
      </div>
      <div class="modal-body">
        <form class="goal-frm">
          <div class="form-group">
            <label for="qua" class="control-label">Question</label>
            <input type="text" class="form-control" id="qua">
          </div>
          <div class="form-group">
            <label for="ans1" class="control-label">Answere 1</label>
            <div class="ans-block">
              <input type="text" class="form-control" id="ans1">
              <div class="ans-mark"><label for="true1"><input type="radio" id="true1" name="answer"><span></span> <i>Right answere</i></label></div>
            </div>
          </div>
          <div class="form-group">
            <label for="ans2" class="control-label">Answere 2</label>
            <div class="ans-block">
              <input type="text" class="form-control" id="ans2">
              <div class="ans-mark"><label for="true2"><input type="radio" id="true2" name="answer"><span></span> <i>Right answere</i></label></div>
            </div>
          </div>
          <div class="form-group">
            <label for="ans3" class="control-label">Answere 3</label>
            <div class="ans-block">
              <input type="text" class="form-control" id="ans3">
              <div class="ans-mark"><label for="true3"><input type="radio" id="true3" name="answer"><span></span> <i>Right answere</i></label> </div>
            </div>
          </div>
          <div class="form-group">
            <label for="ans4" class="control-label">Answere 4</label>
            <div class="ans-block">
              <input type="text" class="form-control" id="ans4">
              <div class="ans-mark"><label for="true4"><input type="radio" id="true4" name="answer"><span></span> <i>Right answere</i></label> </div>
            </div>
          </div>
          <button type="submit" class="g-btn block-btn">Publish</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
$( document ).ready(function(){
	$(".fix-img").each(function(){

	var img = $(this);
	var image_heightA = img.height();
	var image_widthA = img.width();
	var parent_image_widthA = img.parent().width();
	var parent_image_heightA = img.parent().height();
	//if(width <= height)

	if(image_heightA > parent_image_heightA && image_widthA > parent_image_widthA){

		img.css('width',parent_image_widthA + 'px');
		var tem_image_heightA = img.height();

		if(tem_image_heightA > parent_image_heightA){
			img.css('width','100%');
		}
		else{
			img.css('width','auto');
			img.css('height','100%');
		}
	}
	else{
		img.css('width',parent_image_widthA + 'px');
		var tem_image_heightA = img.height();

		if(tem_image_heightA > parent_image_heightA){
			img.css('width','100%');
		}
		else{
			img.css('width','auto');
			img.css('height','100%');
		}
	}
	});
});
</script>
