<div class="profile-block">
  <div class="cover-block">
    <div class="cover-img"><%=image_tag "cover2.png", :class=>"fix-img" %></div>
    <div class="cover-action"><a href="#"><i class="zmdi zmdi-edit zmdi-hc-fw"></i> Edit Cover</a></div>
    <div class="user-block">
      <div class="user-avtar">
        <%=image_tag "avtar2.png" %>
      </div>
      <div class="user-right">
        <h2 class="user-name">Carl Wagner</h2>
        <div class="user-action">
          <a href="#"><i class="zmdi zmdi-edit zmdi-hc-fw"></i> Edit Avatar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="white-box">
          <div class="box-title">
            <h2 class="title-text">About</h2>
            <div class="box-action"><a href="#"><i class="zmdi zmdi-edit zmdi-hc-fw"></i> Edit</a></div>
          </div>
          <div class="box-body">
            <div class="about-client">
              <p class="about-text">The Emerald Buddha is a figurine of a sitting Budha, that is the is the palladium of the Kingdom of Thailand. The Buddha is made of green jade, suprisingly not of emerald, clothed in gold is approximately 45 cm tall. The Buddha is kept in the Chapel of the Emerald Buddha, which is located on the grounds of the Grand Palace in Bangkok.Legend tells that that the Emerald Buddha was created in Pataliputra, India, which is now the city of Patna in 43 BCE by Nagasena. </p>
              <div class="row about-extra">
                <div class="col-sm-4"><p><i class="zmdi zmdi-phone zmdi-hc-fw"></i> 377-229-4453</p></div>
                <div class="col-sm-8"><p><i class="zmdi zmdi-email zmdi-hc-fw"></i> magdalena.abshire@hotmail.com</p></div>
              </div>
              <ul class="social">
                <li><a href="#"><i class="zmdi zmdi-facebook zmdi-hc-fw"></i></a></li>
                <li><a href="#"><i class="zmdi zmdi-twitter zmdi-hc-fw"></i></a></li>
                <li><a href="#"><i class="zmdi zmdi-linkedin zmdi-hc-fw"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="white-box">
          <div class="box-title">
            <h2 class="title-text">Skills</h2>
            <div class="box-action"><a href="#"><i class="zmdi zmdi-edit zmdi-hc-fw"></i> Edit</a></div>
          </div>
          <div class="box-body">
            <ul class="Skill-list">
              <li><div class="skill-tag">Skill 1</div></li>
              <li><div class="skill-tag">Skill Name 2</div></li>
              <li><div class="skill-tag">Some Skill Name 4</div></li>
              <li><div class="skill-tag">Skill 4</div></li>
              <li><div class="skill-tag">Some Skill Name 4</div></li>
              <li><div class="skill-tag">Skill Name 2</div></li>
              <li><div class="skill-tag">Skill 1</div></li>
              <li><div class="skill-tag">Skill 1</div></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="white-box">
          <div class="box-title">
            <h2 class="title-text">Clients</h2>
            <div class="box-action"><a href="#"><i class="zmdi zmdi-plus-circle zmdi-hc-fw"></i> Invite a client</a></div>
          </div>
          <div class="box-body">
            <div class="client-list">
              <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block">
                    <div class="client-img"><%=image_tag "avtar2.png" %></div>
                    <div class="client-desc">
                      <h3 class="client-name">Alan Mills</h3>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block">
                    <div class="client-img"><%=image_tag "avtar2.png" %></div>
                    <div class="client-desc">
                      <h3 class="client-name">Hannah Lucas</h3>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block">
                    <div class="client-img"><%=image_tag "avtar2.png" %></div>
                    <div class="client-desc">
                      <h3 class="client-name">Bryan Hamilton</h3>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block">
                    <div class="client-img"><%=image_tag "avtar2.png" %></div>
                    <div class="client-desc">
                      <h3 class="client-name">Aaron Malone</h3>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block">
                    <div class="client-img"><%=image_tag "avtar2.png" %></div>
                    <div class="client-desc">
                      <h3 class="client-name">Adam Morris</h3>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block">
                    <div class="client-img"><%=image_tag "avtar2.png" %></div>
                    <div class="client-desc">
                      <h3 class="client-name">Rosetta Patton</h3>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block">
                    <div class="client-img"><%=image_tag "avtar2.png" %></div>
                    <div class="client-desc">
                      <h3 class="client-name">Hallie Clayton</h3>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block">
                    <div class="client-img"><%=image_tag "avtar2.png" %></div>
                    <div class="client-desc">
                      <h3 class="client-name">Francis Freeman</h3>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block panding">
                    <div class="client-img"><i class="zmdi zmdi-account zmdi-hc-fw"></i></div>
                    <div class="client-desc">
                      <h3 class="client-name">Adam Morris</h3>
                      <p><i class="zmdi zmdi-refresh zmdi-hc-fw"></i> Panding</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block panding">
                    <div class="client-img"><i class="zmdi zmdi-account zmdi-hc-fw"></i></div>
                    <div class="client-desc">
                      <h3 class="client-name">Jon Jackson</h3>
                      <p><i class="zmdi zmdi-refresh zmdi-hc-fw"></i> Panding</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$( window ).load(function(){
	$(".fix-img").each(function(){

	var img = $(this);
	var image_heightA = img.height();
	var image_widthA = img.width();
	var parent_image_widthA = img.parent().width();
	var parent_image_heightA = img.parent().height();
	//if(width <= height)

	if(image_heightA > parent_image_heightA && image_widthA > parent_image_widthA){

		img.css('width',parent_image_widthA + 'px');
		var tem_image_heightA = img.height();

		if(tem_image_heightA > parent_image_heightA){
			img.css('width','100%');
		}
		else{
			img.css('width','auto');
			img.css('height','100%');
		}
	}
	else{
		img.css('width',parent_image_widthA + 'px');
		var tem_image_heightA = img.height();

		if(tem_image_heightA > parent_image_heightA){
			img.css('width','100%');
		}
		else{
			img.css('width','auto');
			img.css('height','100%');
		}
	}
	});
});
</script>
