<div class="profile-block">
  <div class="cover-block">
    <div class="cover-img"><%=image_tag "cover2.png", :class=>"fix-img" %></div>
    <div class="cover-action"><a href="#"><i class="zmdi zmdi-edit zmdi-hc-fw"></i> Edit Cover</a></div>
    <div class="user-block">
      <div class="user-avtar">
        <%=image_tag "avtar2.png" %>
      </div>
      <div class="user-right">
        <h2 class="user-name">Carl Wagner</h2>
        <div class="user-action">
          <a href="#"><i class="zmdi zmdi-edit zmdi-hc-fw"></i> Edit Avatar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="white-box">
          <div class="box-title">
            <h2 class="title-text">About</h2>
            <div class="box-action"><a href="#"><i class="zmdi zmdi-edit zmdi-hc-fw"></i> Edit</a></div>
          </div>
          <div class="box-body">
            <div class="about-client">
              <p class="about-text">The Emerald Buddha is a figurine of a sitting Budha, that is the is the palladium of the Kingdom of Thailand. The Buddha is made of green jade, suprisingly not of emerald, clothed in gold is approximately 45 cm tall. The Buddha is kept in the Chapel of the Emerald Buddha, which is located on the grounds of the Grand Palace in Bangkok.Legend tells that that the Emerald Buddha was created in Pataliputra, India, which is now the city of Patna in 43 BCE by Nagasena. </p>
              <div class="row about-extra">
                <div class="col-sm-4"><p><i class="zmdi zmdi-phone zmdi-hc-fw"></i> 377-229-4453</p></div>
                <div class="col-sm-8"><p><i class="zmdi zmdi-email zmdi-hc-fw"></i> magdalena.abshire@hotmail.com</p></div>
              </div>
              <ul class="social">
                <li><a href="#"><i class="zmdi zmdi-facebook zmdi-hc-fw"></i></a></li>
                <li><a href="#"><i class="zmdi zmdi-twitter zmdi-hc-fw"></i></a></li>
                <li><a href="#"><i class="zmdi zmdi-linkedin zmdi-hc-fw"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="white-box">
          <div class="box-title">
            <h2 class="title-text">Skills</h2>
            <div class="box-action"><a href="#"><i class="zmdi zmdi-edit zmdi-hc-fw"></i> Edit</a></div>
          </div>
          <div class="box-body">
            <div class="tag-manage vis">
              <div class="form-group">
                <input type="text" name="tags" placeholder="Tags" class="tm-input form-control" />
              </div>
              <div class="skill-list"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="white-box">
          <div class="box-title">
            <h2 class="title-text">Clients</h2>
            <div class="box-action"><a href="#" data-toggle="modal" data-target="#invClient"><i class="zmdi zmdi-plus-circle zmdi-hc-fw"></i> Invite a client</a></div>
          </div>
          <div class="box-body">
            <div class="client-list">
              <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block">
                    <div class="client-img"><%=image_tag "avtar2.png" %></div>
                    <div class="client-desc">
                      <h3 class="client-name">Alan Mills</h3>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block">
                    <div class="client-img"><%=image_tag "avtar2.png" %></div>
                    <div class="client-desc">
                      <h3 class="client-name">Hannah Lucas</h3>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block">
                    <div class="client-img"><%=image_tag "avtar2.png" %></div>
                    <div class="client-desc">
                      <h3 class="client-name">Bryan Hamilton</h3>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block">
                    <div class="client-img"><%=image_tag "avtar2.png" %></div>
                    <div class="client-desc">
                      <h3 class="client-name">Aaron Malone</h3>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block">
                    <div class="client-img"><%=image_tag "avtar2.png" %></div>
                    <div class="client-desc">
                      <h3 class="client-name">Adam Morris</h3>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block">
                    <div class="client-img"><%=image_tag "avtar2.png" %></div>
                    <div class="client-desc">
                      <h3 class="client-name">Rosetta Patton</h3>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block">
                    <div class="client-img"><%=image_tag "avtar2.png" %></div>
                    <div class="client-desc">
                      <h3 class="client-name">Hallie Clayton</h3>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block">
                    <div class="client-img"><%=image_tag "avtar2.png" %></div>
                    <div class="client-desc">
                      <h3 class="client-name">Francis Freeman</h3>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block panding">
                    <div class="client-img"><i class="zmdi zmdi-account zmdi-hc-fw"></i></div>
                    <div class="client-desc">
                      <h3 class="client-name">Adam Morris</h3>
                      <p><i class="zmdi zmdi-refresh zmdi-hc-fw"></i> Panding</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-3">
                  <div class="client-block panding">
                    <div class="client-img"><i class="zmdi zmdi-account zmdi-hc-fw"></i></div>
                    <div class="client-desc">
                      <h3 class="client-name">Jon Jackson</h3>
                      <p><i class="zmdi zmdi-refresh zmdi-hc-fw"></i> Panding</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="white-box">
          <div class="box-title">
            <h2 class="title-text">About</h2>
            <div class="box-action"><a href="#"><i class="zmdi zmdi-check zmdi-hc-fw"></i> Save</a><a href="#" class="cancel"><i class="zmdi zmdi-close zmdi-hc-fw"></i> Cancel</a></div>
          </div>
          <div class="box-body">
            <div class="about-client">
              <form class="">
                <div class="form-group">
                  <textarea class="form-control" id="about">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</textarea>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group icn">
                      <input type="text" class="form-control" id="call" value="377-229-4453">
                      <i class="zmdi zmdi-phone zmdi-hc-fw"></i>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group icn">
                      <input type="email" class="form-control" id="Email" value="magdalena.abshire@hotmail.com">
                      <i class="zmdi zmdi-email zmdi-hc-fw"></i>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group icn">
                      <input type="text" class="form-control" id="fb" placeholder="Past link here">
                      <i class="zmdi zmdi-facebook zmdi-hc-fw"></i>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group icn">
                      <input type="text" class="form-control" id="twit" placeholder="Past link here">
                      <i class="zmdi zmdi-twitter zmdi-hc-fw"></i>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group icn">
                      <input type="text" class="form-control" id="in" placeholder="Past link here">
                      <i class="zmdi zmdi-linkedin zmdi-hc-fw"></i>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="white-box">
          <div class="box-title">
            <h2 class="title-text">Skills</h2>
            <div class="box-action"><a href="#"><i class="zmdi zmdi-check zmdi-hc-fw"></i> Save</a><a href="#" class="cancel"><i class="zmdi zmdi-close zmdi-hc-fw"></i> Cancel</a></div>
          </div>
          <div class="box-body">
            <div class="tag-manage">
              <div class="form-group">
                <input type="text" name="tags" placeholder="Tags" class="tm-input form-control" />
              </div>
              <div class="skill-list"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade center" id="invClient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="zmdi zmdi-close zmdi-hc-fw"></i></button>
        <h4 class="modal-title" id="myModalLabel">INVITE A CLIENT</h4>
      </div>
      <div class="modal-body">
        <form class="inv-frm">
          <div class="form-group">
            <label for="inEmail" class="control-label">Email</label>
            <input type="email" class="form-control" id="inEmail">
          </div>
          <div class="form-group">
            <label for="inMsg" class="control-label">Message</label>
            <textarea class="form-control" id="inMsg">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</textarea>
          </div>
          <button type="submit" class="g-btn block-btn">Invite</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
$( window ).load(function(){
  $(".fix-img").each(function(){

  var img = $(this);
  var image_heightA = img.height();
  var image_widthA = img.width();
  var parent_image_widthA = img.parent().width();
  var parent_image_heightA = img.parent().height();
  //if(width <= height)

  if(image_heightA > parent_image_heightA && image_widthA > parent_image_widthA){

    img.css('width',parent_image_widthA + 'px');
    var tem_image_heightA = img.height();

    if(tem_image_heightA > parent_image_heightA){
      img.css('width','100%');
    }
    else{
      img.css('width','auto');
      img.css('height','100%');
    }
  }
  else{
    img.css('width',parent_image_widthA + 'px');
    var tem_image_heightA = img.height();

    if(tem_image_heightA > parent_image_heightA){
      img.css('width','100%');
    }
    else{
      img.css('width','auto');
      img.css('height','100%');
    }
  }
  });
});
</script>

<%= stylesheet_link_tag    'components/tagmanager' %>
<%= javascript_include_tag 'components/tagmanager' %>
<script>
jQuery(".tm-input").tagsManager();
jQuery(".skill-list").tagsManager({
    prefilled: ["Skill 1", "Skill Name 2", "Some Skill Name 4", "Skill 4", "Some Skill Name 2", "Skill Name 1", "Skill 2", "Skill 3"]
  });
</script>
