<!DOCTYPE html>
<html>
  <head>
    <title>CouchDesign</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%#= stylesheet_link_tag    'pages/landing_page', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if user_signed_in? == false %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= stylesheet_link_tag    'coach', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%#= javascript_include_tag 'coach', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%#= render "layouts/header" %>
    <%= yield %>
    <%#= render "layouts/footer" %>
  </body>
</html>
