<!DOCTYPE html>
<html>
  <head>
    <title>CouchDesign</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'client', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'client', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= params[:controller] == "client/dashboard" && params[:action] == "conversation" ? "should-pay" : "" %>'>
    <% if params[:controller] == "client/dashboard" && params[:action] == "conversation" %>
    <div class="alert alert-info alert-dismissible text-center" role="alert" >
      <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="zmdi zmdi-close zmdi-hc-fw"></i></button>-->
      You should pay for this service. <a href="#">Pay now</a>
    </div>
    <% end %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <svg viewBox="59 15 186 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <linearGradient x1="7.06091607%" y1="92.0435707%" x2="90.9541681%" y2="12.8154914%" id="linearGradient-1">
                        <stop stop-color="#4CB8C4" offset="0%"></stop>
                        <stop stop-color="#5BF8D0" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(59.000000, 15.000000)">
                    <g id="Group-2">
                        <path d="M32.5906651,29.3962014 C33.8507773,28.4551982 34.9464917,27.2458915 35.7848152,25.7938727 C38.6264232,20.8720632 37.574314,14.7834724 33.5761884,11.1628922 C33.3195007,7.40776428 31.2811759,3.86255486 27.8079987,1.85731508 C22.2279181,-1.36434596 15.0572135,0.60898966 11.7917816,6.26488355 C11.3896963,6.96131579 11.0655711,7.68110936 10.8167211,8.41396652 C7.27440869,8.85884061 3.95839642,10.918847 2.01938061,14.2773209 C-1.24605125,19.9332148 0.6303423,27.129895 6.21042291,30.3515561 C7.34411687,31.0060946 8.54346742,31.4461979 9.76238476,31.6845498 C10.5880296,34.4159097 12.402479,36.8415546 15.0518149,38.3711493 C20.6318955,41.5928104 27.8026001,39.6194748 31.068032,33.9635809 C31.9063554,32.511562 32.4057885,30.9579922 32.5906651,29.3962014 L32.5906651,29.3962014 Z" id="Combined-Shape" fill="url(#linearGradient-1)" opacity="0.328634511"></path>
                        <path d="M21.3056331,35.1878296 C22.8051979,35.5287504 24.3955202,35.5703297 25.9980508,35.2588294 C31.4300396,34.2029577 35.2122904,29.4382809 35.2924134,24.0512494 C37.8773501,21.4096241 39.1627081,17.5557133 38.3974725,13.6189175 C37.1680287,7.29397741 31.1110921,3.15021829 24.8689259,4.36357248 C24.1003037,4.51297751 23.3647126,4.73664035 22.6679672,5.02581677 C20.063956,2.6334353 16.422665,1.46501148 12.7160622,2.18550208 C6.47389599,3.39885627 2.41028162,9.50985122 3.63972544,15.8347913 C3.88950911,17.1198169 4.3385584,18.3148094 4.94794227,19.3931346 C3.47867074,21.7983854 2.86922871,24.7531414 3.45294958,27.756125 C4.68239339,34.0810651 10.73933,38.2248242 16.9814962,37.01147 C18.5840268,36.6999696 20.0429721,36.0656727 21.3056331,35.1878296 L21.3056331,35.1878296 Z" id="Combined-Shape" fill="url(#linearGradient-1)" opacity="0.328634511"></path>
                        <path d="M37.0349492,20.8933566 C37.6557367,19.4863939 38,17.9332239 38,16.3006993 C38,10.7670416 34.0445513,6.14513819 28.7717828,5.03859317 C26.6719209,1.99710325 23.1340751,0 19.1235955,0 C12.6802734,0 7.45692884,5.15498713 7.45692884,11.513986 C7.45692884,12.2969943 7.53612496,13.0617474 7.68704311,13.8008691 C4.84174766,15.9005494 3,19.2519939 3,23.027972 C3,29.3869709 8.22334459,34.541958 14.6666667,34.541958 C15.9757437,34.541958 17.2344634,34.3291744 18.4092527,33.9367407 C20.4899621,35.8379611 23.2741438,37 26.3333333,37 C32.7766554,37 38,31.8450129 38,25.486014 C38,23.8534893 37.6557367,22.3003194 37.0349492,20.8933566 L37.0349492,20.8933566 Z" id="Combined-Shape" fill="url(#linearGradient-1)"></path>
                        <path d="M24.9258721,21.5241477 C24.2063953,22.8025568 22.8546512,23.71875 21.0232558,23.71875 C18.4287791,23.71875 16.619186,21.6946023 16.619186,19.3934659 C16.619186,17.0071023 18.4287791,15.1534091 21.0232558,15.1534091 C22.8982558,15.1534091 24.2718023,16.0269886 24.9694767,17.3480114 L28,15.6221591 C26.6700581,13.4488636 24.184593,12 21.0232558,12 C16.3793605,12 13,15.3664773 13,19.3934659 C13,23.6761364 16.3793605,27 21.0232558,27 C24.1627907,27 26.6264535,25.4019886 27.9563953,23.2286932 L24.9258721,21.5241477 Z" id="C" fill="#FFFFFF"></path>
                    </g>
                    <path d="M62.7272727,13.2556818 L48,13.2556818 L48,16.4943182 L53.4772727,16.4943182 L53.4772727,27.7443182 L57.25,27.7443182 L57.25,16.4943182 L62.7272727,16.4943182 L62.7272727,13.2556818 Z M71.3409091,13 C66.9090909,13 63.3636364,16.3877841 63.3636364,20.5 C63.3636364,24.6335227 66.9090909,28 71.3409091,28 C75.7272727,28 79.3181818,24.6335227 79.3181818,20.5 C79.3181818,16.3877841 75.7272727,13 71.3409091,13 Z M71.3409091,16.2599432 C73.8181818,16.2599432 75.8636364,18.15625 75.8636364,20.5 C75.8636364,22.8650568 73.8181818,24.7613636 71.3409091,24.7613636 C68.8181818,24.7613636 66.7727273,22.8650568 66.7727273,20.5 C66.7727273,18.15625 68.8181818,16.2599432 71.3409091,16.2599432 Z M88.7954545,13.2556818 L81.6590909,13.2556818 L81.6590909,27.7443182 L85.4090909,27.7443182 L85.4090909,24.4630682 L88.7727273,24.4630682 C92.7272727,24.4630682 94.6590909,21.6931818 94.6590909,18.8380682 C94.6590909,16.0255682 92.75,13.2556818 88.7954545,13.2556818 Z M88.3636364,16.4943182 C89.8636364,16.515625 90.8863636,17.2826705 90.8863636,18.8380682 C90.8863636,20.4147727 89.8636364,21.2457386 88.3636364,21.2457386 L85.4090909,21.2457386 L85.4090909,16.4943182 L88.3636364,16.4943182 Z M114.590909,22.5241477 C113.840909,23.8025568 112.431818,24.71875 110.522727,24.71875 C107.818182,24.71875 105.931818,22.6946023 105.931818,20.3934659 C105.931818,18.0071023 107.818182,16.1534091 110.522727,16.1534091 C112.477273,16.1534091 113.909091,17.0269886 114.636364,18.3480114 L117.795455,16.6221591 C116.409091,14.4488636 113.818182,13 110.522727,13 C105.681818,13 102.159091,16.3664773 102.159091,20.3934659 C102.159091,24.6761364 105.681818,28 110.522727,28 C113.795455,28 116.363636,26.4019886 117.75,24.2286932 L114.590909,22.5241477 Z M126.772727,13 C122.340909,13 118.795455,16.3877841 118.795455,20.5 C118.795455,24.6335227 122.340909,28 126.772727,28 C131.159091,28 134.75,24.6335227 134.75,20.5 C134.75,16.3877841 131.159091,13 126.772727,13 Z M126.772727,16.2599432 C129.25,16.2599432 131.295455,18.15625 131.295455,20.5 C131.295455,22.8650568 129.25,24.7613636 126.772727,24.7613636 C124.25,24.7613636 122.204545,22.8650568 122.204545,20.5 C122.204545,18.15625 124.25,16.2599432 126.772727,16.2599432 Z M148.363636,27.7443182 L152.340909,27.7443182 L145.704545,13.2556818 L141.545455,13.2556818 L134.931818,27.7443182 L138.886364,27.7443182 L139.909091,25.4857955 L147.363636,25.4857955 L148.363636,27.7443182 Z M141.204545,22.6306818 L143.659091,17.21875 L146.068182,22.6306818 L141.204545,22.6306818 Z M165.068182,22.5241477 C164.318182,23.8025568 162.909091,24.71875 161,24.71875 C158.295455,24.71875 156.409091,22.6946023 156.409091,20.3934659 C156.409091,18.0071023 158.295455,16.1534091 161,16.1534091 C162.954545,16.1534091 164.386364,17.0269886 165.113636,18.3480114 L168.272727,16.6221591 C166.886364,14.4488636 164.295455,13 161,13 C156.159091,13 152.636364,16.3664773 152.636364,20.3934659 C152.636364,24.6761364 156.159091,28 161,28 C164.272727,28 166.840909,26.4019886 168.227273,24.2286932 L165.068182,22.5241477 Z M185,13.2556818 L181.25,13.2556818 L181.25,18.8806818 L174.454545,18.8806818 L174.454545,13.2556818 L170.727273,13.2556818 L170.727273,27.7443182 L174.454545,27.7443182 L174.454545,22.1193182 L181.25,22.1193182 L181.25,27.7443182 L185,27.7443182 L185,13.2556818 Z" id="TOP-COACH" fill="#39BBAC"></path>
                </g>
            </svg>
          </a>
        </div>
        <div class="dropdown user-drop">
          <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Emilie Carlson<span class="user-avtar"><%=image_tag "avtar.png" %></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#"><i class="zmdi zmdi-settings zmdi-hc-fw"></i> Setting</a></li>
            <li><a href="#"><i class="zmdi zmdi-power zmdi-hc-fw"></i> Another action</a></li>
          </ul>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <div class="dash-wrap">
      <div class="sidebar">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/client/dashboard/conversation"><i class="zmdi zmdi-comments zmdi-hc-fw"></i>Conversation <span class="badge">1</span></a></li>
            <li><a href="/client/dashboard/profile"><i class="zmdi zmdi-account zmdi-hc-fw"></i>My Profile</a></li>
            <li><a href="#"><i class="zmdi zmdi-collection-text zmdi-hc-fw"></i>Library</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
      <div class="dash-cont">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
